Source: evolution-plugin-latex-equations
Section: devel
Priority: standard
Maintainer: Cyril Soler <cyril.soler@inria.fr>
Build-Depends: debhelper (>= 9), qt5-qmake, qtbase5-dev, libpng-dev, libglib2.0-dev, libgtk-3-dev, evolution-dev, libebook1.2-dev
Standards-Version: 3.9.3
Homepage: http://artis.imag.fr/~Cyril.Soler

Package: evolution-plugin-latex-equations
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LaTeX plugin for Gnome Evolution mailer
 Evolution is a mail client shipped with an HTML editor. This plugin
 lets the user enter equations in LaTeX format in the text between single dollar
 delimiters; A button in the mail composer converts these equations into
 inline images. 


